<main class="layout-content">
  <section class="main">
    <article class="container">
      <div class="list-wrapper">
        <h1 class="title-container">
          <span class="title">To do</span>
          <button (click)="addTodo()" class="add-btn">
          <span class="material-symbols-outlined">
            add
          </span>
          </button>
        </h1>
          <div class="list-container">
            @for (todo of todosList | todoSort; track todo.id) {
              <div class="todo-wrapper">
                <app-todo-item [todo]="todo" (onComplete)="changeComplete($event)" />
              </div>
            }
          </div>
      </div>
    </article>
  </section>
</main>
